body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Lexend", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-container {
  /* background: rgb(72, 153, 247); */
  /* background: linear-gradient(167deg, #1e3a8a, #1d4ed8, #001f3d); */
  /* background: linear-gradient(45deg, #2563eb, #0a1128); */
  background: linear-gradient(135deg, #1246d6, #2f6cef, #60a5fa);
  /* background: linear-gradient(
    167deg,
    rgba(72, 153, 247, 1) 32%,
    rgba(255, 130, 30, 1) 100%
  ); */
  height: 100vh;
}

.service {
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  width: 350px;
  min-width: 25%;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.service:hover {
  background-color: rgb(236, 245, 255);
}

.footer {
  /* background: rgb(72, 153, 247); */
  /* background: linear-gradient(
    167deg,
    rgba(72, 153, 247, 1) 32%,
    rgba(255, 130, 30, 1) 100%
  ); */
  /* height: 100px; */
  text-align: center;
  margin-top: 50px;
  padding: 25px;
  border-top: 1px solid rgb(230, 230, 230);
  /* color: white; */
}

.wrapper-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.637);
  width: 75%;
}

.arrow {
  display: block;
}

.demo {
  /* background-color: #f7f7f7; */
  width: 60%;
  /* height: 100%; */
  /* border-radius: 10px; */
  /* margin-top: 10px; */

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.title-container {
  width: 60%;
  color: white;
}

.title {
  font-size: 55px;
  text-align: center;
  font-weight: 600;
}

.content-container {
  padding: 50px;
  width: 80%;
}

.qa-container {
  background-color: rgb(72, 153, 247);
  border-radius: 15px;
  width: 80%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.carouser-item-container {
  display: flex;

  /* overflow-x: auto; */
}

.triger-button {
  height: 37px !important;
  background-color: white !important;
  color: black !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  width: 140px !important;
}

.triger-button:hover {
  border-color: #0958d9;
  color: #0958d9 !important;
}

.subTitle {
  padding: 25px 20px;
  font-size: 32px;
  font-weight: 700;
  color: black;
  position: relative;
}

@media (max-width: 970px) {
  .arrow {
    display: none;
  }

  .content-container {
    padding: 0;
  }

  .demo {
    height: 80%;
    width: 80%;
    /* margin-top: 30px; */
  }

  .title-container {
    width: 80%;
  }

  .qa-container {
    width: auto;
  }

  .carouser-item-container {
    padding: 15px 0px;
    gap: 15px;
    /* overflow-x: auto; */
  }

  .service {
    min-width: 52%;
    padding: 10px;
  }
}

@media (max-width: 440px) {
  .wrapper-nav {
    width: 85%;
  }
  .select {
    height: 30px !important;
  }

  .triger-button {
    height: 30px !important;
  }

  .title {
    font-size: 41px;
  }
  .subTitle {
    font-size: 30px;
  }
}
